<div class="outer">
    <div class="container">
       <div class="row">
           <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
               <div class="panel border bg-white">
                   <div class="panel-heading">
                       <h3 class="pt-3 font-weight-bold"> Sign-up </h3>
               </div>
               <div class="panel-body p-3">
                   <form [formGroup]="signupform">
                   <div class="form-group pt-3">
                       <div class="input-field" [class.error]="signupform.controls['password'].dirty && signupform.hasError('required','firstname')">
                           <span class="fa fa-user p-2"></span>
                           <input type="text" formControlName="firstname" placeholder="FirstName">
                       </div>
                   </div>    
                   @if(signupform.controls['firstname'].dirty && signupform.hasError('required','firstname'))
                   {
                       <small class="text-danger">* firstname is required </small>
                   }
                   <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signupform.controls['password'].dirty && signupform.hasError('required','lastname')">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" formControlName="lastname"  placeholder="LastName">
                    </div>
                </div> 
                @if(signupform.controls['lastname'].dirty && signupform.hasError('required','lastname'))
                {
                    <small class="text-danger">* lastname is required </small>
                }   
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signupform.controls['password'].dirty && signupform.hasError('required','email')">
                        <span class="fa fa-user p-2"></span>
                        <input type="text"  formControlName="email" placeholder="Email">
                    </div>
                </div>    
                @if(signupform.controls['email'].dirty && signupform.hasError('required','email'))
                {
                    <small class="text-danger">* email is required </small>
                }
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signupform.controls['password'].dirty && signupform.hasError('required','username')">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" formControlName="username" placeholder="Username">
                    </div>
                </div>    
                @if(signupform.controls['username'].dirty && signupform.hasError('required','username'))
                {
                    <small class="text-danger">* username is required </small>
                }
                   <div class="form-group pt-3">
                       <div class="input-field" [class.error]="signupform.controls['password'].dirty && signupform.hasError('required','password')">
                           <span class="fa fa-lock p-2"></span>
                           <input [type]="type" formControlName="password" placeholder="Password">
                           <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                       </div>
                   </div>    
                   @if(signupform.controls['password'].dirty && signupform.hasError('required','password'))
                   {
                       <small class="text-danger">* password is required </small>
                   }
                  
                   <button  (click)="onSubmit()" type="submit" class="btn btn-primary bt-block mt-4 w-100"> Sign-up </button>
                   <div class="text-center pt-4 text-muted"> Already have account? <a id="forget" routerLink="/login"> Login </a> </div> 
                   </form>
                   </div>
                  
           </div> 
           </div>
    </div>
   </div>
   </div>